{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}
  
    <!-- TABLAS PARA EL CRUD -->
    <br>
    
    <br>
    <div class="container">
      <br>
      {%  include 'web/status.html' %}
      <br>
      <a href="{% url 'userscrud' %}" class="btn btn-success btn-xs pull-right">See Users acount<b></b> </a>
      <a href="{% url 'productcrud' %}" class="btn btn-warning btn-xs pull-right">See all products<b></b> </a>
      <br>
          <table class="table table-striped custab">
            <thead>
                <tr>
                <br>
                    <th>ID</th>
                    <th>name</th>
                    <th>e-mail</th>
                    <th>msn</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            {% for c in entity %}
            <tr>
              <td>{{ c.id | title}}</td>
              <td>{{ c.name | title}}</td>
              <td>{{ c.email | title}}</td>
              <td>{{ c.msn | title}}</td>
              <td class="text-center">
              
              <a href="{% url 'lcontdel' c.id%}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a> </td>
            </tr>
            {% endfor %}
            
          </table>
        <br>
        <div
          {% if messages %}
            {% for m in messages %}

              <div> {{m}} </div>

            {% endfor %}
          {% endif %}
        </div>
    </div>
    <br>
    <div>
      {% include 'web/pagination.html'  %}
    </div>
    <br>
{% endblock contenido %}