{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}
  <!-- TABLAS PARA EL CRUD -->
  
  <div class="container">
    <br>
    {%  include 'web/status.html' %}
    <br>
    <br>
    <table class="table table-striped custab">
      <thead>
        <a href="{% url 'register' %}" class="btn btn-primary btn-xs pull-right">Add User<b>+</b>   </a>
        <a href="{% url 'contactcrud' %}" class="btn btn-success btn-xs pull-right">See Contacts msn<b></b> </a>
        <a href="{% url 'productcrud' %}" class="btn btn-warning btn-xs pull-right">See all products<b></b> </a>
        <br>
        <tr>
          <br>
          <th>ID</th>
          <th>name</th>
          <th>user name</th>
          <th>e-mail</th>
          <th>pass</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      {% for u in entity %}
        <tr>
          <td>{{ u.id | title}}</td>
          <td>{{ u.name | title}}</td>
          <td>{{ u.username | title}}</td>
          <td>{{ u.email | title}}</td>
          <td>{{ u.password | title}}</td>
          <td class="text-center">
          <a href="{% url 'edituser' u.id%}" class='btn btn-info btn-xs'><span class="glyphicon glyphicon-edit"></span> Edit</a> 
          <a href="{% url 'eliminar' u.id%}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a> </td>
        </tr>
      {% endfor %}
    </table>
    <br>
    <div
      {% if messages %}
        {% for m in messages %}

          <div> {{m}} </div>

        {% endfor %}
      {% endif %}
    </div>
  </div>
  <br>
  <div>
    {% include 'web/pagination.html'  %}
  </div>
  <br>
{% endblock contenido %}